{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'lists/style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'lists/bs/css/bootstrap.min.css' %}"
    />
  </head>
  <body>
    <div class="box container-sm text-center">
      <div class="container" style="background: none;">
        <div class="todoheading">
          <h1>ToDo List</h1>
          <br />
          <form
            action="{% url 'add' %}"
            method="POST"
            role="form"
            class="col"
          >
            {% csrf_token %}
            <div class="row justify-content-center">
              <div class="col-12 col-md-8 entertask mb-3">{{form.text}}</div>
              <div class="col-12 col-lg-4 datetime d-flex justify-content-center flex-column">
                <!-- <div class="col px-4"> -->
                  <div class="col-12 px-4 mb-2">{{ form.date }}</div>
                  <div class="col-12 px-4">{{ form.time }}</div> 
                <!-- </div> -->
                <br />
              </div>
            </div>
<br />
            <div class="col-12 text-center">
              <button class="addbtn">Add Task</button>
            </div>
          </form>
        </div>
    </div>
      
      <!-- this is the task list section -->
      <div class="container container-fluid">
        <div class="deletetask">
          <div class="row justify-content-center" style="padding: 10px;">
            <div class="col-auto p-2">
              <form action="{% url 'delete_completed' %}" method="POST" class="col col-3">
                {% csrf_token %}
                <button type="submit" class="deletebtn delete1 text-primary">Delete Completed Task</button>
              </form>
            </div>
            <div class="col-auto p-2">
              <form action="{% url 'show_delete_all_modal' %}" method="POST" class="col col-2">
                  {% csrf_token %}
                  <button type="submit" 
                  class="deletebtn deleteall text-danger" 
                  data-toggle="modal" 
                  data-target="#confirmDeleteModal">Delete All Tasks</button>
              </form>
            </div>
          </div>
        </div>
        <br />
        <div class="container" style="">
          <div class="row justify-content-center card-container-outer">
            {% for i in todo_items %}
            <div class="col-lg-4 col-md-6 col-sm-12 card-container">
              <div
                class="card mb-4"
                style="max-width: 18rem; background: {% if i.completed %}#fcfefe{% else %}#deecfc{% endif %}; border: {% if i.completed %}{% else %}none{% endif %}; color: {% if i.completed %}gray{% else %}black{% endif %};"
              >
                <div
                  class="card-header"
                  style="font-weight: bold; background: {% if i.completed %}#e3e3e3{% else %}#b9ceeb{% endif %};"
                >
                  <span>{{ i.date }}</span>
                  <span>{{ i.time }}</span>
                </div>
                <div class="card-body" style="height: 8rem;">
                  {% if i.completed %}
                  <a class="card-title completedtask">{{i.text}}</a>
                  {% else %}
                  <a href="{% url 'completed' i.id %}" title="Click to Delete Task" style="text-decoration:none">
                    <div class="card-content taskstyle">{{i.text}}</div>
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          
        </div>
      </div>
    </div>
    </div>

        <!-- Modal -->
        {% if show_modal %}
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="{% url 'delete_all' %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete All Tasks</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete all tasks?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" style="border: 1px solid lightgray;" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn" style="border: 2px solid #f87e7e;">Confirm Delete All</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
            <script>
              document.addEventListener("DOMContentLoaded", function() {
                  $('#confirmDeleteModal').modal('show');
              });
          </script>
        {% endif %}
        </div>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </body>
</html>
